<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="studentTutor/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Querika</title>
</head>
<body>
	<section>
		<div class="container p-3">
			<div class="row">
				<!-- <div class="col-md-6 offset-md-3">
					<div class="card">
						<div class="card-header text-center fs-4">Question</div>
						<div class="card-body">
							<form action="ask" method="post">
								<div class="mb-3">
									<label>Question</label>
									<textarea name = "questionText" class="form-control" rows="3"></textarea>
								</div>
								<div class = "mb-3" >
								<label>Course</label>
								<select name = "courseId" class="form-control">	
									<option>Select course</option>
									<option th:each="course : ${courses}" 
											th:value = "${course.id}"
											th:text = "${course.courseName}">
									</option>
								</select>
								</div>
								<button class="btn btn-primary col-md-12">Submit Question</button>
							</form>
						</div>
					</div>
				</div> -->
			</div>
			<div class="row">
			<div class="col-md-6 offset-md-3">
			<div class="card">
					<div class="card-header text-center fs-4">Question</div>
					<div class="card-body">
						
							<div class="mb-3">
								<label>Details</label>
								<p class="text-category" th:text="${sQuestion [0][0]}"></p>
							</div>
							<div class="mb-3">
								<label>Course Name</label>
								<p class="text-category" th:text="${sQuestion [0][2]}"></p>
							</div>
							<form action="answer" method="post">
							<div class="mb-3">
								<label>Answer</label>
								<textarea name="answerText" class="form-control" rows="3"></textarea>
							</div>
							<button class="btn btn-primary col-md-12">Submit
								Answer</button>
								<div>
								<input type = "hidden" name = "sQid" th:value ="${sQuestion [0][1]}" ></input>
								</div>
						</form>
					</div>
				</div>
			</div>
				
			</div>
		</div>
	</section>
</body>
</html>